@* @model IEnumerable<CollegeApp.Domain.StudentModels.StudentCommonModel> *@
@model IEnumerable<CollegeApp.Domain.BookModels.agentContact>
@{
    ViewData["Title"] = "Student Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>Students List</h2>
<table>
    <tr>
        <td>Agent Id</td>
        <td>Branch Id</td>
        <td>Mobile</td>
        <td>Email</td>
        <td>Created By</td>
        <td>Created Date</td>
    </tr>
    @foreach (var student in Model)
    {
        <tr>

            <td>@student.agentID</td>
            <td>@student.branchID</td>
            <td>@student.mobile</td>
            <td>@student.email</td>
            <td>@student.createdBy</td>
            <td>@student.createdDate</td>
        </tr>
    }
</table>